<div class="item">

<input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" />
<label [for]="item.description">&nbsp;</label>

<div class="btn-wrapper" *ngIf="!editable && !item.done">
  <button  class="btn" (click)="editable = !editable" style="text-align: left;">{{item.description}}</button>
  <button class="btn" (click)="editable = !editable"><mat-icon aria-hidden="false" aria-label="Delete">notes</mat-icon></button>
  <button class="btn btn-warn" (click)="remove.emit()"><mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon></button>
</div>

<div class="btn-wrapper" *ngIf="!editable && item.done">
  <button  class="btn" (click)="editable = !editable" style="text-align: left; text-decoration: line-through;">{{item.description}}</button>
  <button class="btn" (click)="editable = !editable"><mat-icon aria-hidden="false" aria-label="Delete">notes</mat-icon></button>
  <button class="btn btn-warn" (click)="remove.emit()"><mat-icon aria-hidden="false" aria-label="Delete">delete</mat-icon></button>
</div>

<!-- This section shows only if user clicks Edit button -->
<div *ngIf="editable">
  <input class="sm-text-input" placeholder="edit item" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)">

  <div class="btn-wrapper">
    <button class="btn" (click)="editable = !editable">Cancel</button>
    <button class="btn" (click)="saveItem(editedItem.value)">Save</button>
  </div>
</div>

</div>