<div class="view-list">
  <!-- Todo Block -->
  <h2>Todo {{countItems('todo')}} / {{countItems('all')}}</h2>
  
  <ul>
    <li *ngFor="let item of items">    
      <app-item *ngIf="!item.done" (remove)="remove(item)" [item]="item" [view]="'list'"></app-item>
    </li>
  </ul>

  <!-- Done Block -->
  <h2>Done {{countItems('done')}} / {{countItems('all')}}</h2>
  <ul>
    <li *ngFor="let item of items">    
      <app-item *ngIf="item.done" (remove)="remove(item)" [item]="item" [view]="'list'"></app-item>
    </li>
  </ul>
</div>


